extends layout

block content
  h1 Who am I API
  p.red exemple of usage:
  code https://headerparser-madenault.c9users.io/api/whoami
  p.red expected result:
  code { ipaddress: "your IP", language: "your language", software: "your operating system"}
